.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills .hard-skills ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;

}

.skills .soft-skills ul,
.skills .languages ul {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 2fr));
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}
.skills .languages ul li{
    padding: 0.4rem;
}
.skills .hard-skills ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 .5rem;
    width: auto;
}

.skills .soft-skills ul li {
    padding: 0.4rem;
    
}

@media only screen and (max-width: 768px) {
    .skills {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .skills .hard-skills,
    .skills .soft-skills,
    .skills .languages {
        margin: 0 1rem 1rem;
    }
}