.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills .hard-skills ul,
.skills .soft-skills ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .hard-skills ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 .5rem;
    width: auto;
}

.skills .soft-skills ul li {
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .skills {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .skills .hard-skills,
    .skills .soft-skills {
        margin: 0 1rem 1rem;
    }
}